---
layout: default
permalink: /connected/
---

{% include header.html %}
{% include menubar.html active="" %}

<div style="padding-top: 20px" class="ui text container div-content">

<div class="ui positive message fade-in">
  <h1 class="header">Message sent successfully</h1>
  <p>Thank you so much! I sincerely appreciate you getting in touch. </p>
  <p>I'll be sure to get back to you as soon as I can.</p>
  <p>In the meantime, perhaps check out some of my material below?</p>
</div>

  <h3 class="ui violet header">Blog Posts</h3>
  <ul>
    {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
    {% for page in essay_pages %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

  <h3 class="ui violet header">Projects</h3>
  <ul>
    {% assign project_pages = site.pages | where: "type", "project" | sort: "title" %}
    {% for page in project_pages %}
    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

</div>

{% include footer.html %}
