---
layout: default
---

{% include header.html %}
{% include menubar.html active="" %}


<div style="padding-top: 20px" class="ui text container div-content">


  <h3 class="ui violet header">Hi and welcome! I'm so happy you're here.</h3>

  I was born and raised in Singapore, but was incredibly lucky that I received a scholarship to attend an international boarding high school in Norway. Since then, I've lived and learned all around the world: I go to college in the United States

   international boarding high school in Norway.

  <!-- <ul>
    {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
    {% for page in essay_pages %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

  <h3 class="ui violet header">Projects</h3>
  <ul>
    {% assign project_pages = site.pages | where: "type", "project" | sort: "title" %}
    {% for page in project_pages %}
    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul> -->

</div>

{% include footer.html %}
