<!-- Used by theme-essays-builtin-2 -->

<div class="row fade-in">
  <div style="text-align: center" class="two wide column">
    <p style="margin-top: 10px" class="ui label">{{ include.page.date | date_to_string }}</p>

      {% for label in include.page.labels %}
      <p style="margin-top: 10px" class="ui basic circular mini label">{{ label }}</p>
      {% endfor %}

  </div>

  <div class="eleven wide column">
    <a href="{{ site.baseurl}}{{ include.page.url }}">
      <div class="ui violet segment hover-scale-subtle">
        <h2 class="ui violet header" style="margin-bottom: 15px;">{{ include.page.title }}</h2>
        <p>{{ include.page.content | markdownify | strip_html | truncatewords: 40 }}</p>
      </div>
    </a>
  </div>
</div>
