<!-- if you want a global header, put the code here. -->
<div class="ui fluid container" id="color-hint">
</div>

<div class="ui fluid container violet-background">
  <!-- <h1 class="ui violet header">{{ site.data.bio.basics.name }}</h1> -->
  <a href="{{ site.baseurl}}/" class="brand item"><h1 class="ui violet center aligned header hover-scale" id="oswald" style="padding-top: 20px">JASMINE TAN</h1></a>
  <p style="padding-bottom: 20px; color: #7F61CF; text-align: center;">Data | Dev | Design | Duke</p>
</div>

