<!-- Used by all builtin themes. Now we list number of essays and projects. -->

{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}

<!-- {% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %} -->


<div class="nonprintable">
  <nav class="ui violet secondary pointing menu">
    <div class="ui center aligned container">
      {% if num_projects > 0 %}
        <a href="{{ site.baseurl }}/projects" class="hover-scale item {% if include.active == "projects" %} active {% endif %}">Projects</a>
      {% endif %}
      {% if num_essays > 0 %}
        <a href="{{ site.baseurl }}/essays" class="hover-scale item {% if include.active == "essays" %} active {% endif %}">Blog</a>
      {% endif %}
        <a href="{{ site.baseurl }}/bio" class="hover-scale item {% if include.active == "bio" %} active {% endif %}">CV</a>
    </div>
  </nav>
</div>
